<%= form_for(local, html: { multipart: true }) do |f| %>
  <% if local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(local.errors.count, "error") %> encontrado(s):</h2>

      <ul>
      <% local.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label 'Nome', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Observação', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :observacao, class: "form-control" %>
    </div>
  </div>

  <div class="col-form-label-lg">Localização</div>
  <div class="form-group row">
      <div id="map-sistema"></div>
  </div>
  <br/><br/>

  <%= f.hidden_field :latitude, id: "latitude" %>
  <%= f.hidden_field :longitude, id: "longitude" %>

  <br/>

  <div class="actions">
    <%= f.submit t(:submit), class: "btn btn-primary" %>
  </div>

  <script>
    $( document ).ready(function() {
      lat = <%= request.safe_location.latitude %>;
      lon = <%= request.safe_location.longitude %>;

      <% if params[:action] == 'new' %>
        if (lat == 0.0 || lon == 0.0) {
          lat = -15.77835833463309;
          lon = -47.88219451904297;
        }
      <% else %>
          lat = <%= f.object.latitude %>;
          lon = <%= f.object.longitude %>;
      <% end %>

      var map = L.map('map-sistema', {zoomControl: false}).setView([lat, lon], 10);

      $(window).on("resize", function () { $("#map-sistema").width($(window).width()); map.invalidateSize(); }).trigger("resize");
      $(window).on("resize", function () { $("#map-sistema").height($(window).height()); map.invalidateSize(); }).trigger("resize");

      L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'OpenStreetMap', maxZoom: 18,}).addTo(map);
      L.control.zoom({position:'topright'}).addTo(map);

      var Icon = L.icon({
                            iconUrl: '<%= image_url "leaflet/images/leaf-green.png" %>',
                            shadowUrl: '<%= image_url "leaflet/images/leaf-shadow.png" %>',
                            iconSize:     [38, 95],
                            shadowSize:   [50, 64],
                            iconAnchor:   [22, 94],
                            shadowAnchor: [4, 62],
                            popupAnchor:  [-3, -76]
                        });

      var marker = L.marker(new L.LatLng(lat, lon), { draggable: true, icon: Icon }).addTo(map);

      $('#latitude').val(lat);
      $('#longitude').val(lon);

      map.on('click', function (e) {
        marker.setLatLng(e.latlng);
        $('#latitude').val(marker.getLatLng().lat);
        $('#longitude').val(marker.getLatLng().lng);
      });

      marker.on('dragend', function (e) {
        $('#latitude').val(marker.getLatLng().lat);
        $('#longitude').val(marker.getLatLng().lng);
      });
    });
  </script>
<% end %>
