<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), locais_path, :class => "nav-link active" %>
  </li>
  <% if usuario_signed_in? %>
    <li class="nav-item">
      <%= link_to t(:new), new_local_path, :class => "nav-link" %>
    </li>
  <% end %>
</ul>

<% if @locais.empty? %>
  <br/>
  <h3>Nenhum Dado Encontrado</h3>
<% else %>

<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <% if usuario_signed_in? %><th></th><% end %>
        </tr>
      </thead>

      <tbody>
        <% @locais.each do |local| %>
        <tr>
          <td><%= link_to local.nome, local_path(local) %></td>
          <% if usuario_signed_in? %>
            <td>
            <% if current_usuario.admin? or local.usuario.id == current_usuario.id %>
              <%= link_to t(:edit), edit_local_path(local), :class => 'btn btn-mini btn-success' %>
              <%= link_to t(:destroy), local_path(local), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-mini btn-danger' %>
            <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
