<%= render 'layouts/dataTable' %>

<% title t(:locations) %>

<%= link_to t("location.register_new_location"), new_local_path, :class => "btn btn-primary", :style => "float:right;" %>
<br><br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:locations) + " #{ @usuario.blank? ? '' : '(' + @usuario.nome.truncate(28) + ')' }", "#", :class => "nav-link active" %>
  </li>
</ul>

<% if @locais.empty? %>
  <br>
  <h3>Nenhum Local Registrado</h3>
<% else %>

  <br>
  <div>
    <table id="dataTable-agroecologia" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th></th>
        <th><%= t("location.data") %></th>
        <th><%= t("type") %></th>
        <th><%= t(:gallery) %></th>
        <th><%= t("experiences") %></th>
        <th><%= t(:safs) %></th>
        <% if usuario_signed_in? %>
          <th class="list-control"></th>
          <th class="list-control"></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @locais.each do |local| %>
        <tr>
          <td scope="row"><div  class="thumbnail-mini"><%= link_to image_tag(local.imagem.url(:medium)), local_path(local) %></div></td>
          <td><%= link_to truncate(local.nome, length: 100), local_path(local) %></td>
          <td><%= @tipos.key(local.tipo) %></td>
          <% total_midia = Midia.where(experiencia_agroecologica: local.experiencia_agroecologicas).count + Midia.where(saf: local.safs).count%>
          <td><%= link_to total_midia, local_gallery_path(local.id) %></td>
          <td><%= link_to local.experiencia_agroecologicas.count, local_experiencia_agroecologicas_path(local) %></td>
          <td><%= link_to local.safs.count, local_safs_path(local) %></td>

          <% if usuario_signed_in? %>
            <% if current_usuario.admin? or local.usuario.id == current_usuario.id %>
              <td><%= link_to t(:edit), edit_local_path(local), :class => 'btn btn-sm btn-success' %></td>
              <td><%= link_to t(:destroy), local_path(local), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <script>$(document).ready(function () {
      dataTables();
  });</script>
<% end %>
