<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), locais_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @local.nome, local_path(@local.id), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <div id="show-imagem">
      <%= image_tag(@local.imagem.url(:thumb), :width => "150") %>
    </div>
    <div id="show-info">
      <dl class="row">
        <dt class="col-sm-3"><strong>Nome:</strong></dt>
        <dd class="col-sm-9"><%= @local.nome %>&nbsp;</dd>

        <dt class="col-sm-3"><strong>Observação:</strong></dt>
        <dd class="col-sm-9"><%= @local.observacao %>&nbsp;</dd>

        <% if @local.organizacoes.count > 0 %>
          <dt class="col-sm-3"><strong>Observação:</strong></dt>
          <dd class="col-sm-9">
            <%= @local.organizacoes.map {|organizacao| link_to organizacao.nome, organizacao_path(organizacao)}.join(", ").html_safe %>&nbsp;
          </dd>
        <% end %>
      </dl>
    </div>

    <% if @local.latitude and @local.longitude %>
      <div class="col-form-label-lg">Localização</div>
      <div class="form-group row">
        <div id="map"></div>
      </div>

      <script>
        $( document ).ready(function() {
          var map = L.map('map').setView([<%= @local.latitude %>, <%= @local.longitude %>], 10);
          L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Mapas OBSAM - Leaflet - OpenStreetMap', maxZoom: 18,}).addTo(map);
          var Icon = L.icon({
                            iconUrl: '<%= image_url "leaflet/images/leaf-green.png" %>',
                            shadowUrl: '<%= image_url "leaflet/images/leaf-shadow.png" %>',
                            iconSize:     [38, 95],
                            shadowSize:   [50, 64],
                            iconAnchor:   [22, 94],
                            shadowAnchor: [4, 62],
                            popupAnchor:  [-3, -76]
                          });
          $(window).on("resize", function () { $("#map").width($(window).width() - 30); map.invalidateSize(); }).trigger("resize");
          $(window).on("resize", function () { $("#map").height($(window).height()); map.invalidateSize(); }).trigger("resize");

          L.marker([<%= @local.latitude %>, <%= @local.longitude %>], {icon: Icon}).addTo(map);
        });
      </script>
    <br/><br/></br><br/><br/>
    <% end %>
    </div>
</div>

<% if usuario_signed_in? %>
<div id="local-footer">
  <% if current_usuario.admin? or current_usuario.id == @local.usuario.id %>        
    <div class="form-actions">
    <%= link_to t(:back), locais_path, :class => 'btn btn-success'  %>
      <% if current_usuario.admin? or @local.usuario.id == current_usuario.id %>
        <%= link_to t('.edit', :default => "Editar"), edit_local_path(@local), :class => 'btn btn-warning' %>
        <%= link_to t(:destroy), local_path(@local), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
