<%= render 'layouts/dataTable' %>
<% if params[:saf_id] %>
  <% title t(:gallery) + " #{@saf.nome}" %>
<% elsif params[:experiencia_agroecologica_id] %>
  <% title t(:gallery) + " #{@experiencia_agroecologica.nome}" %>
<% elsif params[:local_id] %>
  <% title t(:gallery) + " #{@local.nome}" %>
<% end %>
<% if usuario_signed_in? %>
  <% if params[:saf_id] %>
    <%= link_to t(:send_picture), new_saf_midia_path, :class => "btn btn-success", :style => "float:right;" if current_usuario.admin? or @saf.usuario_id == current_usuario.id %>
  <% elsif params[:experiencia_agroecologica_id] %>
    <%= link_to t(:send_picture), new_experiencia_agroecologica_midia_path, :class => "btn btn-success", :style => "float:right;" if current_usuario.admin? or @experiencia_agroecologica.usuario_id == current_usuario.id %>
  <% elsif params[:local_id] %>
    <%= link_to t(:send_picture), new_local_midia_path, :class => "btn btn-success", :style => "float:right;" if current_usuario.admin? or @local.usuario_id == current_usuario.id %>
  <% end %>
<% end %>
<br>
<br>
<br>
<br>
<br>
<ul class="nav nav-tabs flex-column flex-xl-row">
  <% if params[:saf_id] %>
    <li class="nav-item">
      <%= link_to @saf.local.nome, local_path(@saf.local), :class => "nav-link" %>
    </li>
  <% elsif params[:experiencia_agroecologica_id] %>
    <li class="nav-item">
      <%= link_to @experiencia_agroecologica.local.nome, local_path(@experiencia_agroecologica.local), :class => "nav-link" %>
    </li>
  <% elsif params[:local_id] %>
    <li class="nav-item">
      <%= link_to t(:locations), locais_path, :class => "nav-link" %>
    </li>
  <% end %>
  <li class="nav-item">
    <% if params[:saf_id] %>
      <%= link_to truncate(@saf.nome, length: 16), saf_path(@saf), :class => "nav-link" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to truncate(@experiencia_agroecologica.nome, length: 16), experiencia_agroecologica_path(@experiencia_agroecologica), :class => "nav-link" %>
    <% elsif params[:local_id] %>
      <%= link_to truncate(@local.nome, length: 16), local_path(@local), :class => "nav-link" %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if params[:saf_id] %>
      <%= link_to t(:gallery) + " (#{@saf.midias.count})", saf_gallery_path, :class => "nav-link active" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to t(:gallery) + " (#{@experiencia_agroecologica.midias.count})", experiencia_agroecologica_gallery_path, :class => "nav-link active" %>
    <% elsif params[:local_id] %>
      <% total_midia = Midia.where(experiencia_agroecologica: @local.experiencia_agroecologicas).count + Midia.where(saf: @local.safs).count + @local.midias.count %>
      <%= link_to t(:gallery) + " (#{total_midia})", local_gallery_path(@local.id), :class => "nav-link active" %>
    <% end %>
  </li>
  <% if params[:local_id] %>
    <li class="nav-item">
      <%= link_to "Blog (#{@local.blogs.count})", local_blogs_path, :class => "nav-link" %>
    </li>
  <% end %>
</ul>
<% if @midias.empty? %>
  <br>
  <h3><%= t(:no_photo_submitted) %>
    <% if usuario_signed_in? %>
      <% if params[:saf_id] %>
        <%= link_to t(:send_picture), new_saf_midia_path(@saf) if current_usuario.admin? or @saf.usuario_id == current_usuario.id %>
      <% elsif params[:experiencia_agroecologica_id] %>
        <%= link_to t(:send_picture), new_experiencia_agroecologica_midia_path(@experiencia_agroecologica) if current_usuario.admin? or @experiencia_agroecologica.usuario_id == current_usuario.id %>
      <% elsif params[:local_id] %>
        <%= link_to t(:send_picture), new_local_midia_path(@local) if current_usuario.admin? or @local.usuario_id == current_usuario.id %>
      <% end %>
    <% end %>
  </h3>
<% else %>
  <br>
  <br>
  <div class="row">
    <% @midias.each do |media| %>
      <div class="col-sm-6" style="cursor: pointer;" >
        <div class="card" style="max-height: <%= usuario_signed_in? ? '340px' : '340px'%>;">
          <br>
          <div class="card-img-top thumbnail" >
            <a href="<%= url_for(media.imagem(:original)) %>>" data-toggle="lightbox" data-gallery="media-gallery" data-max-width="900">
              <img src="<%= url_for(media.imagem(:medium)) %>" alt="Photo <%= media.descricao %>" title="Photo <%= media.descricao %>" class="img-fluid">
            </a>
          </div>
          <div class="card-body"  style="min-height: 180px;">
            <p class="card-text text-box">
              <%= media.descricao.truncate(25) unless media.descricao.blank? %>
              <%= "<br><span style='font-weight: bold; font-size: 12px'>From Agroforestry: #{link_to media.saf.nome.truncate(25), saf_path(media.saf)}</span>".html_safe if media.saf and params[:local_id] %>
              <%= "<br><span style='font-weight: bold; font-size: 12px'>From Experience: #{link_to media.experiencia_agroecologica.nome.truncate(25), experiencia_agroecologica_path(media.experiencia_agroecologica)}</span>".html_safe if media.experiencia_agroecologica and params[:local_id] %>
            </p>
            <% if usuario_signed_in? %>
              <% if params[:experiencia_agroecologica_id] %>
                <% if media.experiencia_agroecologica %>
                  <% if current_usuario.admin? or media.experiencia_agroecologica.local.usuario_id == current_usuario.id %>
                    <td><%= link_to t(:edit), edit_experiencia_agroecologica_midia_path(media.experiencia_agroecologica, media), :class => 'btn btn-sm btn-success' %></td>
                    <td><%= link_to t(:destroy), experiencia_agroecologica_midia_path(media.experiencia_agroecologica, media), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
                  <% end %>
                <% end %>
              <% elsif params[:saf_id] %>
                <% if media.saf %>
                  <% if current_usuario.admin? or media.saf.local.usuario_id == current_usuario.id %>
                    <td><%= link_to t(:edit), edit_saf_midia_path(media.saf, media), :class => 'btn btn-sm btn-success' %></td>
                    <td><%= link_to t(:destroy), saf_midia_path(media.saf, media), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
                  <% end %>
                <% end %>
              <% elsif params[:local_id] %>
                <% if media.local %>
                  <% if current_usuario.admin? or media.local.usuario_id == current_usuario.id %>
                    <td><%= link_to t(:edit), edit_local_midia_path(media.local, media), :class => 'btn btn-sm btn-success' %></td>
                    <td><%= link_to t(:destroy), local_midia_path(media.local, media), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <br>
              <br>
            <% end %>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  </div>
  <br>
  <script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
  </script>
<% end %>
