<% if params[:saf_id] %>
  <% title "Fotos #{@saf.nome}" %>
<% elsif params[:experiencia_agroecologica_id] %>
  <% title "Fotos #{@experiencia_agroecologica.nome}" %>
<% end %>

<% if usuario_signed_in? %>
  <% if params[:saf_id] %>
    <%= link_to "Enviar Foto para esta SAF", new_saf_midia_path, :class => "btn btn-warning", :style => "float:right;"  if current_usuario.admin? or @saf.usuario_id == current_usuario.id %>
  <% elsif params[:experiencia_agroecologica_id] %>
    <%= link_to "Enviar Foto para esta Experiência", new_experiencia_agroecologica_midia_path, :class => "btn btn-warning", :style => "float:right;" if current_usuario.admin? or @experiencia_agroecologica.usuario_id == current_usuario.id %>
  <% end %>
<% end %>

<br/><br/><br/>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <% if params[:saf_id] %>
      <%= link_to t(:safs), safs_path, :class => "nav-link" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to "Experiências em Agroecologia", experiencia_agroecologicas_path, :class => "nav-link" %>
    <% end %>
   </li>

  <li class="nav-item">
    <% if params[:saf_id] %>
      <%= link_to @saf.nome, saf_path(@saf), :class => "nav-link" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to @experiencia_agroecologica.nome, experiencia_agroecologica_path(@experiencia_agroecologica), :class => "nav-link" %>
    <% end %>
   </li>

  <li class="nav-item">
    <% if params[:saf_id] %>
      <%= link_to t(:photo) + " (#{@saf.midias.count})", saf_midias_path, :class => "nav-link active" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to "Fotos (#{@experiencia_agroecologica.midias.count})", experiencia_agroecologica_midias_path, :class => "nav-link active" %>
    <% end %>
  </li>
</ul>

<% if @midias.empty? %>
  <br/>

  <h3>Nenhuma Foto Registrada.
   <% if usuario_signed_in? %>
      <% if params[:saf_id] %>
        <%= link_to "Enviar uma Foto para esta SAF?", new_saf_midia_path(@saf) if current_usuario.admin? or @saf.usuario_id == current_usuario.id %>
      <% elsif params[:experiencia_agroecologica_id] %>
        <%= link_to "Enviar uma Foto para esta Experiência?", new_experiencia_agroecologica_midia_path(@experiencia_agroecologica) if current_usuario.admin? or @experiencia_agroecologica.usuario_id == current_usuario.id %>
      <% end %>
    <% end %>
  </h3>

<% else %>

  <br/>
  <div style="overflow-x:auto;">
    <table id="dataTable-agroecologia" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th></th>
          <th>Descrição</th>
          <% if usuario_signed_in? %>
            <th class="list-control"></th>
            <th class="list-control"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @midias.each do |midia| %>
        <tr>
          <% if params[:saf_id] %>
            <td scope="row"><%= link_to image_tag(midia.imagem.url(:thumb), :height => "80"), saf_midia_path(@saf, midia) %></td>
            <td><%= link_to midia.descricao, saf_midia_path(@saf, midia) %></td>
          <% elsif params[:experiencia_agroecologica_id] %>
            <td scope="row"><%= link_to image_tag(midia.imagem.url(:thumb), :height => "80"), experiencia_agroecologica_midia_path(@experiencia_agroecologica, midia) %></td>
            <td><%= link_to midia.descricao, experiencia_agroecologica_midia_path(@experiencia_agroecologica, midia) %></td>
          <% end %>

          <% if usuario_signed_in? %>
            <% if current_usuario.admin? or midia.usuario_id == current_usuario.id %>
              <% if params[:saf_id] %>
                <td><%= link_to t(:edit), edit_saf_midia_path(@saf, midia), :class => 'btn btn-sm btn-success' %></td>
                <td><%= link_to t(:destroy), saf_midia_path(@saf, midia), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
              <% elsif params[:experiencia_agroecologica_id] %>
                <td><%= link_to t(:edit), edit_experiencia_agroecologica_midia_path(@experiencia_agroecologica, midia), :class => 'btn btn-sm btn-success' %></td>
                <td><%= link_to t(:destroy), experiencia_agroecologica_midia_path(@experiencia_agroecologica, midia), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
              <% end %>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <script>$(document).ready(function(){ dataTables(); });</script>
<% end %>
