<% if params[:saf_id] %>
  <% title "#{@midia.descricao} | #{@saf.nome}" %>
<% elsif params[:experiencia_agroecologica_id] %>
  <% title "#{@midia.descricao} | #{@experiencia_agroecologica.nome}" %>
<% end %>

<% if usuario_signed_in? %>
  <% if params[:saf_id] %>
    <%= link_to t(:send_picture), new_saf_midia_path, :class => "btn btn-warning", :style => "float:right;" if current_usuario.admin? or @saf.usuario_id == current_usuario.id %>
  <% elsif params[:experiencia_agroecologica_id] %>
    <%= link_to t(:send_picture), new_experiencia_agroecologica_midia_path, :class => "btn btn-warning", :style => "float:right;" if current_usuario.admin? or @experiencia_agroecologica.usuario_id == current_usuario.id %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs">
<!--  <li class="nav-item">-->
    <%# if params[:saf_id] %>
      <%#= link_to t(:safs), safs_path, :class => "nav-link" %>
    <%# elsif params[:experiencia_agroecologica_id] %>
      <%#= link_to t(:experience_in_agroecology), experiencia_agroecologicas_path, :class => "nav-link" %>
    <%# end %>
<!--  </li>-->

  <li class="nav-item">
    <% if params[:saf_id] %>
      <%= link_to truncate(@saf.nome, length: 16), saf_path(@saf), :class => "nav-link" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to truncate(@experiencia_agroecologica.nome, length: 16), experiencia_agroecologica_path(@experiencia_agroecologica), :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:saf_id] %>
      <%= link_to t(:photo) + " (#{@saf.midias.count})", saf_midias_path, :class => "nav-link" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to t(:photo) + " (#{@experiencia_agroecologica.midias.count})", experiencia_agroecologica_midias_path, :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:saf_id] %>
      <%= link_to truncate(@midia.descricao, length: 18), saf_midia_path(@saf, @midia.id), :class => "nav-link active" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to truncate(@midia.descricao, length: 18), experiencia_agroecologica_midia_path(@experiencia_agroecologica, @midia.id), :class => "nav-link active" %>
    <% end %>
  </li>
</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <%= image_tag(@midia.imagem.url, :class => "midia-imagem") %>

    <br><br>
    <h3><%= @midia.descricao %></h3>
  </div>
</div>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? or current_usuario.id == @midia.usuario_id %>
    <br><br>
    <div class="form-actions">
      <% if params[:saf_id] %>
        <%= link_to t(:edit), edit_saf_midia_path(@saf, @midia), :class => 'btn btn-mini btn-success' %>
        <%= link_to t(:destroy), saf_midia_path(@saf, @midia), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-mini btn-danger' %>
      <% elsif params[:experiencia_agroecologica_id] %>
        <%= link_to t(:edit), edit_experiencia_agroecologica_midia_path(@experiencia_agroecologica, @midia), :class => 'btn btn-mini btn-success' %>
        <%= link_to t(:destroy), experiencia_agroecologica_midia_path(@experiencia_agroecologica, @midia), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-mini btn-danger' %>
      <% end %>
    </div>
  <% end %>
<% end %>
