<% title t(:resend_confirmation_by_email) %>

<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
      <%= link_to t(:login), new_account_session_path, :class => "nav-link active" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:sign_up), new_account_registration_path, :class => "nav-link" %>
  </li>
</ul>

<div class="sign_in_up">
  <br>
  <strong><%= t(:resend_confirmation_by_email) %></strong>
  <div class="tip" style="text-align: center">Would you like to receive the confirmation link again?</div>
  <br>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="forms" style="padding-bottom: 10px">
      <div class="form-group col-xs-2 col-md-4 required bg-light">
        <%= f.label "E-Mail", class: "col-form-label-lg control-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control", :required => true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit t(:resend), class: "btn btn-primary" %>
    </div>
    <br>
    <%= render "devise/shared/links" %>
    <br>

  <% end %>
</div>
