<% title t(:resend_confirmation_by_email) %>

<div class="sign_in_up">
  <br><br>
  <strong><%= t(:resend_confirmation_by_email) %></strong>
  <div class="tip" style="text-align: center">Would you like to receive the confirmation link again?</div>
  <br>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="forms" style="padding-bottom: 10px">
      <div class="form-group col-xs-2 col-md-4 required bg-light">
        <%= f.label "E-Mail", class: "col-form-label-lg control-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control", :required => true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit t(:resend), class: "btn btn-primary" %>
    </div>
    <br>
    <%= render "devise/shared/links" %>
    <br>

  <% end %>
</div>
