<% if params[:practice_id] %>
  <% title "Edit" %>
<% elsif params[:location_id] %>
  <% title "Edit" %>
<% end %>

<% if account_signed_in? %>
  <% if params[:practice_id] %>
    <div class="link-action">
      <%= link_to (bootstrap_icon "file-earmark-image") + " " + t(:send_photo), new_practice_media_path(@practice), :class => "btn btn-warning" %>
      <%= link_to (bootstrap_icon "file-earmark-text") + " " + t(:send_document), new_practice_document_path(@practice), :class => "btn btn-secondary" %>
    </div>
  <% end %>
<% end %>

<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <% if params[:location_id] %>
    <li class="nav-item">
      <%= link_to truncate(@location.name, length: 25), location_path(@location), :class => "nav-link" %>
    </li>

    <% if account_signed_in? %>
      <li class="nav-item">
        <%= link_to t(:send_photo), new_location_media_path, :class => "nav-link active" %>
      </li>
    <% end %>
  <% end %>

  <% if params[:practice_id] %>
    <li class="nav-item">
      <%= link_to truncate(@practice.location.name, length: 12), location_path(@practice.location), title: @practice.location.name,  :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to @practice.name.truncate(18) , practice_path(@practice), :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t(:what_you_do), practice_what_you_do_path(@practice, @practice.what_you_do), :class => "nav-link" if @practice.what_you_do %>
    </li>
    <li class="nav-item">
      <%= link_to t(:characterise), practice_characterise_path(@practice, @practice.characterise), :class => "nav-link" if @practice.characterise %>
    </li>
    <li class="nav-item">
      <%= link_to t(:evaluate), practice_evaluate_path(@practice, @practice.evaluate), :class => "nav-link" if @practice.evaluate %>
    </li>
    <li class="nav-item">
      <%= link_to t(:acknowledge), practice_acknowledge_path(@practice, @practice.acknowledge), :class => "nav-link" if @practice.acknowledge %>
    </li>
    <li class="nav-item">
      <%= link_to "#{t(:gallery)} (#{@practice.medias.count})", practice_gallery_path(@practice), :class => "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "#{t(:documents)} (#{@practice.documents.count})", practice_documents_path(@practice), :class => "nav-link" %>
    </li>
  <% end %>
</ul>

<br>

<%= render 'form', media: @media %>
