<% if params[:location_id] %>
  <% title t(:gallery) + " #{@location.name}" %>
<% end %>

<div class="link-action">
<% if account_signed_in? %>
  <% if params[:location_id] %>
    <% if current_account.admin? or current_account.id == @location.account.id %>
      <%= link_to (bootstrap_icon "file-earmark-image") + " " + t(:send_photo), new_location_media_path, :class => "btn btn-warning" if current_account.admin? or @location.account_id == current_account.id %>
    <% end %>
  <% end %>
<% end %>

<% if account_signed_in? %>
  <% if params[:practice_id] %>
    <% if current_account.admin? or current_account.id == @practice.account.id %>
        <%= link_to (bootstrap_icon "file-earmark-image") + " " + t(:send_photo), new_practice_media_path(@practice), :class => "btn btn-warning" %>
        <%= link_to (bootstrap_icon "file-earmark-text") + " " + t(:send_document), new_practice_document_path(@practice), :class => "btn btn-secondary" %>
    <% end %>
  <% end %>
<% end %>
</div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <% if params[:location_id] %>
    <li class="nav-item">
      <%= link_to truncate(@location.name, length: 25), location_path(@location), :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t(:practices) + " (#{@location.practices.count})", location_practices_path(@location), :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t(:gallery)+ " (#{@location.medias.count})", location_path(@location), :class => "nav-link active" %>
    </li>
  <% end %>

  <% if params[:practice_id] %>
    <li class="nav-item">
      <%= link_to truncate(@practice.location.name, length: 12), location_path(@practice.location), title: @practice.location.name,  :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to @practice.name.truncate(18) , practice_path(@practice), :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t(:what_you_do), practice_what_you_do_path(@practice, @practice.what_you_do), :class => "nav-link" if @practice.what_you_do %>
    </li>
    <li class="nav-item">
      <%= link_to t(:characterise), practice_characterise_path(@practice, @practice.characterise), :class => "nav-link" if @practice.characterise %>
    </li>
    <li class="nav-item">
      <%= link_to t(:evaluate), practice_evaluate_path(@practice, @practice.evaluate), :class => "nav-link" if @practice.evaluate %>
    </li>
    <li class="nav-item">
      <%= link_to t(:acknowledge), practice_acknowledge_path(@practice, @practice.acknowledge), :class => "nav-link" if @practice.acknowledge %>
    </li>
    <li class="nav-item">
      <%= link_to "#{t(:gallery)} (#{@practice.medias.count})", practice_gallery_path(@practice), :class => "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "#{t(:documents)} (#{@practice.documents.count})", practice_documents_path(@practice), :class => "nav-link" %>
    </li>
  <% end %>
  </li>
</ul>

<% if @medias.empty? %>
  <br><br>

  <h3><%= t(:no_photo_submitted) %>
    <% if account_signed_in? %>
      <% if params[:practice_id] %>
        <%= link_to t(:send_picture), new_practice_media_path(@practice) if current_account.admin? or @practice.account_id == current_account.id %>
      <% end %>
    <% end %>
  </h3>

<% else %>
  <br><br>
  <div class="row">
    <% @medias.each do |media| %>
      <div class="col-sm-6" style="cursor: pointer;" >
        <div class="card" style="max-height: <%= account_signed_in? ? '340px' : '280px'%>;">
          <br>
          <div class="card-img-top thumbnail" >
            <a href="<%= url_for(media.photo.variant(:original)) %>>" data-toggle="lightbox" data-gallery="media-gallery" data-max-width="900">
              <img src="<%= url_for(media.photo.variant(:medium)) %>" alt="Photo <%= media.description %>" title="Photo <%= media.description %>" class="img-fluid">
            </a>
          </div>
          <div class="card-body"  style="min-height: 180px;">
            <p class="card-text text-box"><%= media.description.truncate(100) unless media.description.blank? %></p>

            <% if account_signed_in? %>
              <% if current_account.admin? or media.account.id == current_account.id %>
                <% if params[:location_id] %>
                  <td><%= link_to t(:edit), edit_location_media_path(media.location, media), :class => 'btn btn-sm btn-success' %></td>
                  <td><%= link_to t(:destroy), location_media_path(media.location, media), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
                <% elsif params[:practice_id] %>
                  <td><%= link_to t(:edit), edit_practice_media_path(media.practice, media), :class => 'btn btn-sm btn-success' %></td>
                  <td><%= link_to t(:destroy), location_media_path(media.location, media), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
                <% end %>
              <% else %>
                <br><br>
              <% end %>
            <% end %>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  </div>

  <div>
    <%= paginate @medias %>
  </div>
  <br>
  <script>
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
          event.preventDefault();
          $(this).ekkoLightbox();
      });
  </script>
<% end %>
