<% title "Adicionar Texto em #{@local.nome}" %>
<br>
<br>
<br>
<br>
<br>
<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to t(:locations), locais_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @local.nome, local_path(@local), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Blog (#{@local.blogs.count})", local_blogs_path, :class => "nav-link" %>
  </li>
  <% if usuario_signed_in? %>
    <li class="nav-item">
      <%= link_to t(:add_news), new_local_blog_path, :class => "nav-link active" %>
    </li>
  <% end %>
</ul>
<br>
<%= render 'form', blog: @blog %>
