<h2><%= t(:sign_up) %></h2>
<br/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group row">
    <%= f.label "E-Mail", class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label t(:name), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label t(:password), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label t(:password_confirm), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= button_tag(name: t(:sign_in), type: 'submit', class: "btn btn-primary", id: 'submit', onclick: 'submit') do %>
      <span id="button_name"><%= t(:sign_in) %></span>
      <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"></span>
    <% end %>
  </div>
  <br/>
  <%= render "devise/shared/links" %>
  <br/>
  <%= invisible_captcha %>
<% end %>

<script>
    document.getElementById("submit").setAttribute("disabled", "disabled");
    setTimeout(function () {
        document.getElementById("submit").removeAttribute("disabled");
        document.getElementById("spinner").remove();
    }, 2000);
</script>