<%= form_for(tema_experiencia_agroecologica, html: { multipart: true }) do |f| %>
  <% if tema_experiencia_agroecologica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tema_experiencia_agroecologica.errors.count, "error") %> encontrado(s):</h2>

      <ul>
        <% tema_experiencia_agroecologica.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_usuario.admin? %>
    <div class="form-group row">
      <%= f.label 'Colaborador Responsável', class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.collection_select(:usuario_id, Usuario.all, :id, :nome, {}, { class: "form-control selectpicker", "data-live-search": true }) %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label 'Nome', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <br>
  <div class="actions">
    <%= f.submit t(:submit), class: "btn btn-primary" %>
  </div>
  
<% end %>
