<ul class="nav nav-tabs">
  <% if usuario_signed_in? %>
    <% if current_usuario.admin %>
      <li class="nav-item">
        <%= link_to t(:all), tema_experiencia_agroecologicas_path, :class => "nav-link" %>
      </li>
    <% end %>
  <% end %>
  <li class="nav-item">
    <%= link_to @tema_experiencia_agroecologica.nome, tema_experiencia_agroecologica_path(@tema_experiencia_agroecologica.id), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <center>
      <br/><br/>
      <h3><%= @tema_experiencia_agroecologica.nome %></h3>
    </center>
  </div>
</div>

<% if usuario_signed_in? %>
<br/><br/>
<div id="tema_experiencia_agroecologica-footer">
  <% if current_usuario.admin? or current_usuario.id == @tema_experiencia_agroecologica.usuario.id %>        
    <div class="form-actions">
    <%= link_to t('.edit', :default => "Editar"), edit_tema_experiencia_agroecologica_path(@tema_experiencia_agroecologica), :class => 'btn btn-warning' %>
      <% if current_usuario.admin? %>
        <%= link_to t(:destroy), tema_experiencia_agroecologica_path(@tema_experiencia_agroecologica), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
