<ul class="nav nav-tabs">
  <% if usuario_signed_in? %>
    <% if current_usuario.admin %>
      <li class="nav-item">
        <%= link_to t(:all), organizacoes_path, :class => "nav-link" %>
      </li>
    <% end %>
  <% end %>
  <li class="nav-item">
    <%= link_to @organizacao.nome, organizacao_path(@organizacao.id), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
      <dl class="row">
        <dt class="col-sm-3"><strong>Nome:</strong></dt>
        <dd class="col-sm-9"><%= @organizacao.nome %>&nbsp;</dd>
      </dl>
    </div>
</div>

<% if usuario_signed_in? %>
<div id="organizacao-footer">
  <% if current_usuario.admin? or current_usuario.id == @organizacao.usuario.id %>        
    <div class="form-actions">
    <%= link_to t('.edit', :default => "Editar"), edit_organizacao_path(@organizacao), :class => 'btn btn-warning' %>
      <% if current_usuario.admin? %>
        <%= link_to t(:back), organizacoes_path, :class => 'btn btn-success'  %>
        <%= link_to t(:destroy), organizacao_path(@organizacao), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
