<div class="friends">
  <strong><%= t(:friends) %></strong>
  <br>
  <div class="logo"><%= link_to image_tag("palmoildetectives.png", alt: "Palm Oil Detectives", title: "Palm Oil Detectives"), "https://palmoildetectives.com/", :target => "_blank", :alt => "Palm Oil Detectives", :title => "Palm Oil Detectives"%></div>
  <br><br>
  <strong><%= t(:special_thanks) %></strong>
  <div class="logo"><%= link_to image_tag("leaflet.png", alt: "Leaflet", title: "Leaflet"), "https://leafletjs.com/", :target => "_blank", :alt => "Leaflet", :title => "Leaflet" %></div>
  <div class="logo"><%= link_to image_tag("rails.png", alt: "Ruby on Rails", title: "Ruby on Rails"), "https://rubyonrails.org/", :target => "_blank", :alt => "Ruby on Rails", :title => "Ruby on Rails" %></div>
  <div class="logo"><%= link_to image_tag("openstreetmap.png", width: "160px", alt: "Open Street Map", title: "Open Street Map"), "https://www.openstreetmap.org/", :target => "_blank", :alt => "Open Street Map", :title => "Open Street Map" %></div>
  <div class="logo"><%= link_to image_tag("codeberg.png", width: "160px", alt: "CodeBerg", title: "CodeBerg"), "https://codeberg.org/marcelo-soares-souza/agroecology-map", :target => "_blank", :alt => "CodeBerg", :title => "CodeBerg" %></div>
</div>