<div class="friends">
  <div class="logo">
    <%= link_to image_tag("logo.png", width: "200px", alt: "Agroecology Map Logo", title: "Agroecology Map Logo"), "/", :alt => "Agroecology Map Logo", :title => "Agroecology Map Logo" %>
  </div>
  <strong><%= t(:donors) %></strong>
  <br>
  <a href="https://www.researchgate.net/profile/Marcelo-Souza-27" target="_blank">Marcelo Soares Souza</a><br>
  <a href="https://www.researchgate.net/profile/Eduardo-Formighieri" target="_blank">Eduardo Fernandes Formighieri</a><br>
  <a href="http://lattes.cnpq.br/7368487382576901" target="_blank">Mariana Crepaldi de Paula</a><br>
  <a href="https://www.researchgate.net/profile/Andrei-Steindorff"target="_blank"> Andrei Stecca Steindorff</a>
  <br><br>
  <strong><%= t(:friends) %></strong>
  <br>
  <div class="logo"><%= link_to image_tag("palmoildetectives.png", alt: "Palm Oil Detectives", title: "Palm Oil Detectives"), "https://palmoildetectives.com/", :target => "_blank", :alt => "Palm Oil Detectives", :title => "Palm Oil Detectives"%></div>
  <strong><%= t(:special_thanks) %></strong>
  <br>
  <div class="logo"><%= link_to image_tag("leaflet.png", width: "180px", alt: "Leaflet", title: "Leaflet"), "https://leafletjs.com/", :target => "_blank", :alt => "Leaflet", :title => "Leaflet" %></div>
  <div class="logo"><%= link_to image_tag("rails.png", width: "190px", alt: "Ruby on Rails", title: "Ruby on Rails"), "https://rubyonrails.org/", :target => "_blank", :alt => "Ruby on Rails", :title => "Ruby on Rails" %></div>
  <div class="logo"><%= link_to image_tag("openstreetmap.png", width: "140px", alt: "Open Street Map", title: "Open Street Map"), "https://www.openstreetmap.org/", :target => "_blank", :alt => "Open Street Map", :title => "Open Street Map" %></div>
  <div class="logo"><%= link_to image_tag("codeberg.png", width: "140px", alt: "CodeBerg", title: "CodeBerg"), "https://codeberg.org/marcelo-soares-souza/agroecology-map", :target => "_blank", :alt => "CodeBerg", :title => "CodeBerg" %></div>
</div>