<div class="friends">
  <strong><%= t(:friends) %></strong>
  <br>
  <div class="logo"><%= link_to image_tag("palmoildetectives.png"), "https://palmoildetectives.com/", :target => "_blank" %></div>
  <br><br>
  <strong><%= t(:special_thanks) %></strong>
  <div class="logo"><%= link_to image_tag("leaflet.png"), "https://leafletjs.com/", :target => "_blank" %></div>
  <div class="logo"><%= link_to image_tag("rails.png"), "https://rubyonrails.org/", :target => "_blank" %></div>
  <div class="logo"><%= link_to image_tag("openstreetmap.png"), "https://www.openstreetmap.org/", :target => "_blank" %></div>
  <div class="logo"><%= link_to image_tag("codeberg.png"), "https://codeberg.org/marcelo-soares-souza/agroecology-map", :target => "_blank" %></div>
</div>