<% title 'Plantas | Sistemas Agroflorestais' %>
<%= link_to "Registrar Nova Planta", new_planta_path, :class => "btn btn-primary", :style => "float:right;" %>
<br>
<br>
<br>
<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to t(:plants), plantas_path, :class => "nav-link active" %>
  </li>
</ul>
<% if @plantas.empty? %>
  <br>
  <h3>Nenhuma Planta Registrada</h3>
<% else %>
  <br>
  <div>
    <table id="dataTable-agroecologia" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th></th>
          <th><%= t(:name) %></th>
          <th><%= t(:scientific_name) %></th>
          <th><%= t(:safs) %></th>
          <% if usuario_signed_in? %>
            <th class="list-control"></th>
            <th class="list-control"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @plantas.each do |planta| %>
          <tr>
            <td scope="row">
              <div class="thumbnail-mini"><%= link_to image_tag(planta.imagem.url(:thumb), :title => planta.nome, :alt => planta.nome), planta_path(planta) %></div>
            </td>
            <td><%= link_to planta.nome, planta_path(planta) %></td>
            <td><%= planta.nome_cientifico %></td>
            <td><%= planta.safs.count %></td>
            <% if usuario_signed_in? %>
              <% if current_usuario.admin? or planta.usuario.id == current_usuario.id %>
                <td><%= link_to t(:edit), edit_planta_path(planta), :class => 'btn btn-sm btn-success' %></td>
                <td><%= link_to t(:destroy), planta_path(planta), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <script>
    $(document).ready(function () {
          dataTables();
      });
  </script>
<% end %>
