<style>
  @media screen and (max-width: 400px) {
    td:nth-child(3), th:nth-child(3), td:nth-child(4), th:nth-child(4) {
      display: none
    }
  }
</style>
<%= render 'layouts/dataTable' %>
<% title t(:experiences_in_agroecology) %>
<%= link_to t(:register_new_experience), new_experiencia_agroecologica_path, :class => "btn btn-primary", :style => "float:right;" %>
<br>
<br>
<br>
<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to t(:experiences_in_agroecology) + " #{ @local.blank? ? '' : '(' + truncate(@local.nome, length: 16) + ')' }", "#", :class => "nav-link active" %>
  </li>
</ul>
<% if @experiencia_agroecologicas.empty? %>
  <br>
  <h3>Nenhuma Experiência em Agroecologia Registrada</h3>
<% else %>
  <br>
  <div>
    <table id="dataTable-agroecologia" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th></th>
          <th><%= t(:name) %></th>
          <th><%= t(:central_theme) %></th>
          <th><%= t('location.data') %></th>
          <!-- <th><%= t(:gallery) %></th> -->
          <!-- <th><%= t(:comments) %></th> -->
          <!-- <th>Like(s)</th> -->
          <% if usuario_signed_in? %>
            <th class="list-control"></th>
            <th class="list-control"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @experiencia_agroecologicas.each do |experiencia_agroecologica| %>
          <tr>
            <td>
              <div class="thumbnail-mini">
                <% if experiencia_agroecologica.midias[0] %>
                  <%= link_to image_tag(experiencia_agroecologica.midias[0].imagem.url(:medium)), experiencia_agroecologica_path(experiencia_agroecologica) %>
                <% else %>
                  <%= link_to image_tag(experiencia_agroecologica.local.imagem.url(:medium)), experiencia_agroecologica_path(experiencia_agroecologica) %>
                <% end %>
              </div>
            </td>
            <td><%= link_to truncate(experiencia_agroecologica.nome, length: 100), experiencia_agroecologica_path(experiencia_agroecologica) %></td>
            <td><%= @tema_experiencia_agroecologicas.key(experiencia_agroecologica.tema_experiencia_agroecologica.id) %></td>
            <td><%= link_to truncate(experiencia_agroecologica.local.nome, length: 110), local_path(experiencia_agroecologica.local) %></td>
            <!-- <td><%#= link_to experiencia_agroecologica.midias.blank? ? t(:no_query) : t(:yes_query), experiencia_agroecologica_gallery_path(experiencia_agroecologica) %></td> -->
            <% if usuario_signed_in? %>
              <% if current_usuario.admin? or experiencia_agroecologica.usuario.id == current_usuario.id %>
                <td><%= link_to t(:edit), edit_experiencia_agroecologica_path(experiencia_agroecologica), :class => 'btn btn-sm btn-success' %></td>
                <td><%= link_to t(:destroy), experiencia_agroecologica_path(experiencia_agroecologica), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <script>
    $(document).ready(function () {
          dataTables();
      });
  </script>
<% end %>
