<% title @experiencia_agroecologica.nome %>
<%= link_to t(:send_photo), new_experiencia_agroecologica_midia_path(@experiencia_agroecologica), :class => "btn btn-warning", :style => "float:right;" %>
<br>
<br>
<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to @experiencia_agroecologica.nome.truncate(16), experiencia_agroecologica_path(@experiencia_agroecologica.id), :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:gallery)} (#{@experiencia_agroecologica.midias.count})", experiencia_agroecologica_gallery_path(@experiencia_agroecologica), :class => "nav-link" %>
  </li>
</ul>
<br>
<div class="tab-content" style="min-height: 64px;">
  <div class="like">
    <% if  usuario_signed_in? %>
      <%= link_to like_path(@experiencia_agroecologica), method: "put", class: "btn text-white",  style: "background-color: #fff;", disabled: true do %>
        <img src="/like.png" alt="<%= @likes_info %>" title="<%= @likes_info %>">
        <span class="badge bg-danger ms-2" style="font-size: 14px"><%= @experiencia_agroecologica.likes.count.to_s %></span>
      <% end %>
    <% else %>
      <%= link_to "#", method: "put", class: "btn text-white",  style: "background-color: #fff;", disabled: true do %>
        <img src="/like.png" alt="<%= @likes_info %>" title="<%= @likes_info %>">
        <span class="badge bg-danger ms-2" style="font-size: 14px"><%= @experiencia_agroecologica.likes.count.to_s %></span>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane active">
    <% if @experiencia_agroecologica.midias[0] %>
      <div  class="thumbnail">
        <%= image_tag(@experiencia_agroecologica.midias[0].imagem.url(:medium)) %>
      </div>
    <% end %>
    <br>
    <br>
    <div class='<%= (@experiencia_agroecologica.nome.length() > 90 ? 'text-box' : '') %>'>
      <h3><%= @experiencia_agroecologica.nome %></h3>
    </div>
    <%= "<strong>#{t(:central_theme)}:</strong><br>#{@tema_experiencia_agroecologicas.key(@experiencia_agroecologica.tema_experiencia_agroecologica.id)}&nbsp;".html_safe if @experiencia_agroecologica.tema_experiencia_agroecologica.nome? %>
    <%= "<br><br><strong>#{t('location.data')}:</strong><br>#{link_to @experiencia_agroecologica.local.nome, local_path(@experiencia_agroecologica.local)}&nbsp;".html_safe if @experiencia_agroecologica.local.nome? %>
    <%= "<br><br><strong>#{t(:resume)}:</strong><br><div class='text-box'>#{simple_format (h @experiencia_agroecologica.resumo).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @experiencia_agroecologica.resumo %>
    <%= "<br><br><strong>#{t(:organization)}:</strong><br>#{@experiencia_agroecologica.local.organizacoes.map { |organizacao| link_to organizacao.nome, organizacao_path(organizacao) }.join(", ").html_safe}&nbsp;".html_safe if @experiencia_agroecologica.local.organizacoes.count > 0 %>
    <%= "<br><br><strong>#{t(:observation)}:</strong><br><div class='#{@experiencia_agroecologica.observacao.length() > 85 ? 'text-box' : ''}'>#{@experiencia_agroecologica.observacao}&nbsp;</div>".html_safe if @experiencia_agroecologica.observacao? %>
    <%= "<br><strong>#{t(:responsible_for_information)}:</strong><br>#{link_to @experiencia_agroecologica.usuario.nome, usuario_path(@experiencia_agroecologica.usuario)}&nbsp;".html_safe if @experiencia_agroecologica.usuario.nome? %>
    <% if usuario_signed_in? %>
      <% if current_usuario.admin? or current_usuario.id == @experiencia_agroecologica.usuario.id %>
        <br>
        <br>
        <div id="experiencia_agroecologica-footer">
          <div class="form-actions">
            <%= link_to t(:edit), edit_experiencia_agroecologica_path(@experiencia_agroecologica), :class => 'btn btn-success' %>
            <%= link_to t(:send_photo), new_experiencia_agroecologica_midia_path(@experiencia_agroecologica), :class => "btn btn-warning" %>
            <%= link_to t(:destroy), experiencia_agroecologica_path(@experiencia_agroecologica), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    <% end %>
    <br>
    <strong><%= @experiencia_agroecologica.comentarios.count.to_s + " " + t(:comment) + "(s)" %>:</strong>
    <% if  usuario_signed_in? %>
      <div class='text-box'>
        <%= render 'comentar', comentar: @comentar %>
      </div>
    <% end %><br>
    <%= "<b>#{link_to t(:sign_in_to_comment), new_usuario_session_path, :class => 'text-danger'}</b>".html_safe if !usuario_signed_in? %>
    <% if @experiencia_agroecologica.comentarios.count > 0 %>
      <%= render 'comentarios', comentarios: @experiencia_agroecologica.comentarios.order(:updated_at).reverse_order %>
    <% end %>
    <br>
    <br>
  </div>
</div>
