  <style>
    footer .container {
       width: 80%;
    }

    .container {
       width: 100%;
       padding-left: 0px;
       padding-right: 0px;
    }
  </style>

  <div id="map"></div>

  <script>
    $( document ).ready(function() {
      lat = <%= (defined? request.safe_location.latitude)  ? request.safe_location.latitude : 0.0 %>;
      lon = <%= (defined? request.safe_location.longitude) ? request.safe_location.longitude : 0.0 %>;

      if (lat == 0.0 || lon == 0.0) {
        lat = -15.77835833463309;
        lon = -47.88219451904297;
      }

      var map = L.map('map', {fullscreenControl: true, zoomControl: false}).setView([lat, lon], 4);

      $(window).on("resize", function () { $("#map").height($(window).height() - 60); map.invalidateSize(); }).trigger("resize");

      var osm = L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '<a href="https://itbio3.org">ITBio3</a> | Mapa da Agroecologia | OpenStreetMap', maxZoom: 18,}).addTo(map);
      var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', { attribution: '<a href="https://itbio3.org">ITBio3</a> | Mapa da Agroecologia | Google Maps', maxZoom: 20, subdomains:['mt0','mt1','mt2','mt3'] });
      var baseMaps = { "OpenStreetMap": osm, "Google Maps": googleHybrid };

      var ti = L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?',        { layers: 'CMR-PUBLICO:lim_terra_indigena_a', format: 'image/png', transparent: true });
      var ar = L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?',        { layers: 'CMR-PUBLICO:lim_assentamento_rural_a', format: 'image/png', transparent: true });
      var uc = L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?',        { layers: 'CMR-PUBLICO:lim_unidade_conservacao_federal_a', format: 'image/png', transparent: true, opacity: 0.5 });
      var quilombos = L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?', { layers: 'CMR-PUBLICO:lim_quilombolas_a', format: 'image/png', transparent: true, opacity: 0.5 });
      var biomas =  L.tileLayer.wms('http://cmr.funai.gov.br/geoserver/ows?',   { layers: 'CMR-PUBLICO:veg_biomas_a', format: 'image/png', transparent: true, opacity: 0.3 }).addTo(map);

      var overlayMaps = { "Terra Indígena": ti, "Assentamento Rural": ar, "Unidade de Conservação": uc, "Quilombos": quilombos, "Biomas": biomas };

      L.control.layers(baseMaps, overlayMaps, { collapsed: false, position: 'bottomright'} ).addTo(map);

      L.control.zoom({position:'topright'}).addTo(map);

      var logo = L.control({position: 'bottomleft'});
      logo.onAdd = function(map) { var div = L.DomUtil.create('div', 'myclass'); div.innerHTML= "<img src='<%= image_url "itbio3-small.png" %>'/>"; return div;};
      logo.addTo(map);

      var osmGeocoder = new L.Control.OSMGeocoder({ placeholder: 'Buscar por Endereço (Logradouro, Cidade, Estado e/ou País)' });

      map.addControl(osmGeocoder);

      <% if @locais %>
        var markers = L.markerClusterGroup({ disableClusteringAtZoom: 16 });
        var controlSearch = new L.Control.Search({ layer: markers, initial: false, zoom: 12, position: 'topleft', textPlaceholder: 'Buscar Iniciativa Agroecológica' });

        var Icon = L.icon({
                            iconUrl: '<%= image_url "leaflet/images/leaf-green.png" %>',
                            shadowUrl: '<%= image_url "leaflet/images/leaf-shadow.png" %>',
                            iconSize:     [38, 95],
                            shadowSize:   [50, 64],
                            iconAnchor:   [22, 94],
                            shadowAnchor: [4, 62],
                            popupAnchor:  [-3, -76]
                          });

        <% @locais.each do |local| %>
          <% if local.latitude and local.longitude %>
            var popup = '<b><%= "#{link_to local.nome, local_path(local)}".html_safe %><br/>';
            popup += '<%= "<br/>Experiências em Agroecologia <br/>".html_safe %>';
            popup += '<%= local.experiencia_agroecologicas.count > 0 ? "#{local.experiencia_agroecologicas.map {|experiencia| link_to truncate(experiencia.nome, length: 38), experiencia}.join("<br/>") }<br/>".html_safe : "Nenhuma Registrada</br>".html_safe %>';
            popup += '<%= "<br/>SAFs <br/>".html_safe %>';
            popup += '<%= local.safs.count > 0 ? "#{local.safs.map {|saf| link_to truncate(saf.nome, length: 38), saf}.join("<br/>") }<br/>".html_safe : "Nenhuma Registrada</br>".html_safe %>';
            popup += '</b>';

            var marker = new L.marker(new L.latLng([<%= local.latitude %>, <%= local.longitude %>]), { icon: Icon, title: '<%= local.nome %>' });
            marker.bindPopup(popup);
            markers.addLayer(marker);
          <% end %>
        <% end %>

        map.addLayer(markers);
        map.addControl(controlSearch);
      <% end %>
    });
  </script>
