<%= form_for(saf, html: { multipart: true }) do |f| %>
  <% if saf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saf.errors.count, "error") %> encontrado(s):</h2>

      <ul>
      <% saf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_usuario.admin? %>
    <div class="form-group row">
      <%= f.label 'Colaborador Responsável', class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.collection_select(:usuario_id, Usuario.all, :id, :nome,  {}, { class: "form-control selectpicker", "data-live-search": true } ) %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label 'Local', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <% if params[:local_id] %>
        <%= f.hidden_field :local_id, id: "local_id", :value => Local.friendly.find(params[:local_id]).id %>
        <%= params[:local_id] %>
      <% else %>
        <%= f.collection_select(:local_id, @locais, :id, :nome, {}, { class: "form-control selectpicker", "data-live-search": true } ) %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Nome', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-5">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Objetivo Principal', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :objetivo, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Produto Principal', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :produto_principal, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Data de Início', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-5">
      <%= f.date_field :inicio, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Data de Fim (Opcional)', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-5">
      <%= f.date_field :fim, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Área (ha)', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-2">
      <%= f.text_field :area, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Plantas Associadas', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <% if ! @plantas.empty? %>
        <%= f.collection_select(:planta_ids, @plantas, :id, :nome,  { include_hidden: false }, { class: "form-control selectpicker show-tick", multiple: true, "data-live-search": true } ) %>
      <% else %>
        <b>Não há Plantas Registradas. Deseja <%= link_to "Cadastrar?", new_planta_path, :target => "blank"%></b>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Animais Associados', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <% if ! @animais.empty? %>
        <%= f.collection_select(:animal_ids, @animais, :id, :nome,  { include_hidden: false }, { class: "form-control selectpicker show-tick", multiple: true, "data-live-search": true } ) %>
      <% else %>
        <b>Não há Animais Registrados. Deseja <%= link_to "Cadastrar?", new_animal_path, :target => "blank"%></b>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Observação', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_area :observacao, class: "form-control", :rows => "5"  %>
    </div>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit t(:submit), class: "btn btn-primary" %>
  </div>
<% end %>
