<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), safs_path, :class => "nav-link active" %>
  </li>
  <% if usuario_signed_in? %>
    <% if current_usuario.admin? %>
      <li class="nav-item">
        <%= link_to t(:new), new_saf_path, :class => "nav-link" %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if @safs.empty? %>
  <br/>
  <h3>Nenhum Dado Encontrado</h3>
<% else %>
<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Local</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @safs.each do |saf| %>
        <tr>
          <td><%= link_to saf.nome, saf_path(saf) %></td>
          <td><%= link_to saf.local.nome, local_path(saf.local) %></td>
          <% if usuario_signed_in? %>
            <td>
              <%= link_to t(:edit), edit_saf_path(saf), :class => 'btn btn-mini btn-success' %>
              <%= link_to t(:destroy), saf_path(saf), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-mini btn-danger' %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
