<%= form_for(tipo_organizacao, html: { multipart: true }) do |f| %>
  <% if tipo_organizacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_organizacao.errors.count, "error") %> encontrado(s):</h2>

      <ul>
      <% tipo_organizacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label 'Nome', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :nome, class: "form-control" %>
    </div>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit t(:submit), class: "btn btn-primary" %>
  </div>
<% end %>
