<% if usuario_signed_in? %>
  <% if current_usuario.admin? %>
    <%= link_to "Registrar Novo Tipo", new_tipo_organizacao_path, :class => "btn btn-primary", :style => "float:right;" %>
    <br/><br/><br/>
    <% end %>
  <% end %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), tipo_organizacoes_path, :class => "nav-link active" %>
  </li>
</ul>

<% if @tipo_organizacoes.empty? %>
  <br/>
  <h3>Nenhum Tipo de Organização Registrado</h3>
<% else %>

  <br/>
  <div style="overflow-x:hidden;">
    <table id="dataTable-agroecologia" class="table table-striped table-bordered" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Nome</th>
          <% if usuario_signed_in? %><th class="list-control"></th><th class="list-control"></th><% end %>
        </tr>
      </thead>

      <tbody>
        <% @tipo_organizacoes.each do |tipo_organizacao| %>
        <tr>
          <td><%= link_to tipo_organizacao.nome, tipo_organizacao_path(tipo_organizacao) %></td>
          <% if usuario_signed_in? %>
            <% if current_usuario.admin? %>
              <td><%= link_to t(:edit), edit_tipo_organizacao_path(tipo_organizacao), :class => 'btn btn-sm btn-success' %></td>
              <td><%= link_to t(:destroy), tipo_organizacao_path(tipo_organizacao), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <script>$(document).ready(function(){ dataTables(); });</script>
<% end %>
