<%= link_to "Registrar Novo Tipo", new_tipo_organizacao_path, :class => "btn btn-primary", :style => "float:right;" %>
<br/><br/><br/>

<ul class="nav nav-tabs">
   <li class="nav-item">
     <%= link_to t(:all), tipo_organizacoes_path, :class => "nav-link" %>
   </li>
  <li class="nav-item">
    <%= link_to @tipo_organizacao.nome, tipo_organizacao_path(@tipo_organizacao.id), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <center>
      <br/><br/>
      <h3><%= @tipo_organizacao.nome %></h3>
    </center>
  </div>
</div>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? %>
    <br/><br/>
    <div id="tipo_organizacao-footer">
      <div class="form-actions">
        <%= link_to t('.edit', :default => "Editar"), edit_tipo_organizacao_path(@tipo_organizacao), :class => 'btn btn-success' %>
        <%= link_to t(:destroy), tipo_organizacao_path(@tipo_organizacao), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
<% end %>
