<div class="manual">
  <h1>Step-by-Step Manual</h1>
  <br>
  <h3>Sign-Up</h3>
  <div><%= image_tag("manual/1.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <h3>Fill the form</h3>
  <b>(E-Mail, Name and Password)</b>
  <br><br>
  <div><%= image_tag("manual/2.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <h3>Check Your E-Mail</h3>
  <b>(Confirm your registration by clicking on the Link in the E-Mail)</b>
  <br><br>
  <div><%= image_tag("manual/3.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <h3>Sign-In (Login)</h3>
  <b>(After Confirming your E-Mail)</b>
  <br><br>
  <div><%= image_tag("manual/4.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <h3>Register a New Location</h3>
  <b>(On the Menu (Top) Click In "Locations" and after that in "Register a New Location")</b>
  <br><br>
  <div><%= image_tag("manual/5.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <h3>Fill in the form with the Location data</h3>
  <b>(Where do you carry out your Experiences in Agroecology)</b>
  <br><br>
  <div><%= image_tag("manual/6.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <h3>Register One (or more) Experience(s) in Agroecology</h3>
  <br><br>
  <div><%= image_tag("manual/7.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <h3>Fill in the form with the Agroecology Experience</h3>
  <b>(Tell us a little about your experience in Agroecology)</b>
  <br><br>
  <div><%= image_tag("manual/8.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <h3>Send us some photos of the Experience</h3>
  <br><br>
  <div><%= image_tag("manual/9.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <div><%= image_tag("manual/10.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>
  <div><%= image_tag("manual/11.png", alt: "Manual", title: "Manual", class: 'logo') %></div>
  <br><br>

  <h2>If you need help, please send us an E-Mail: marcelo@agroecologymap.org</h2>
</div>
