<% title t(:sign_in) %>
<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
      <%= link_to t(:login), new_account_session_path, :class => "nav-link active" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:sign_up), new_account_registration_path, :class => "nav-link" %>
  </li>
</ul>

<% if not browser.bot? and not request.is_crawler? %>
<div class="sign_in_up">
  <br>
  <strong><%= t(:sign_in) %></strong>
  <div class="tip" style="text-align: center"><%= t(:log_in_to_continue_registering_your_location_and_practices) %></div>
  <br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), style: "form-floating", html: { data: { turbo: false } }) do |f| %>
    <div class="forms" style="padding-bottom: 16px;">
      <div class="form-group col-xs-2 col-md-4 required bg-light">
        <%= f.label "E-Mail", class: "col-form-label-lg control-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control", :required => true, :autocomplete => "email" %>
      </div>

      <div class="form-group col-xs-2 col-md-4 required">
        <%= f.label t(:password), class: "col-form-label-lg control-label" %>
        <%= f.password_field :password, class: "form-control", :required => true, :autocomplete => "current-password"  %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> <%= t(:remember_me) %>
          </label>
        </div>
      <% end -%>

      <div class="actions">
        <%= button_tag(name: t(:sign_in), type: 'submit', class: "btn btn-primary", id: 'submit') do %>
          <span id="button_name"><%= t(:sign_in) %></span>
        <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>

    <hr>
    <div>
      <strong style="font-size: 14px"><%= t(:all_content_on_this_platform_is_licensed_under_the) %></strong>
      <br>
      <%= link_to image_tag('CC.png', width: 120), 'https://creativecommons.org/licenses/by-sa/4.0/', target: '_blank' %>
      <br>
      <strong style="font-size: 14px"><%= link_to('Read our Privacy Policy', privacy_policy_path, :class => "nav-link") %></strong>
    </div>
    <br>
  <% end %>
</div>
<% else %>
<br><br>
<h1>You are probably a Robot, so we're sorry but you can't register. If you are a human and have arrived at this page, please contact us.</h1>
<% end %>