<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), usuarios_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @usuario.nome, usuario_path(@usuario.id), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <center>
      <%= image_tag(@usuario.imagem.url(:medium), :width => "150") %>

      <br/><br/>
      <h3><%= @usuario.nome %></h3>

      <br/>
      <%= "<strong>E-Mail:</strong><br/>#{@usuario.email}&nbsp;".html_safe if @usuario.email?%>
      <%= "<br/><br/><strong>Locais:</strong><br/>#{@usuario.locais.map {|local| link_to local.nome, local_path(local)}.join(", ").html_safe}&nbsp;".html_safe if @usuario.locais.count > 0%>
      <%= "<br/><br/><strong>Organizações:</strong><br/>#{@usuario.organizacoes.map {|organizacao| link_to organizacao.nome, organizacao_path(organizacao)}.join(", ").html_safe}&nbsp;".html_safe if @usuario.organizacoes.count > 0%>
    </center>
  </div>
</div>

<% if usuario_signed_in? %>
<br/><br/>
  <% if current_usuario.admin? or current_usuario.id == @usuario.id %>        
    <div class="form-actions">
    <%= link_to t('.edit', :default => "Editar"), edit_usuario_path(@usuario), :class => 'btn btn-warning' %>
      <% if current_usuario.admin? %>
        <%= link_to t(:destroy), usuario_path(@usuario), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' if @usuario.id != 1 %>
      <% end %>
    </div>
  <% end %>
<% end %>
