<% title t(:contact) %>
<style>
    .thank_you_notes {
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        margin-top: 40px;
    }

    .logo {
        width: 220px;
        margin: auto;
        background-color: transparent;
    }

    .thank_you_notes .card {
        border: 0;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        margin-bottom: 32px;

    }
</style>
<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
      <%= link_to t(:who_we_are), who_we_are_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:data_summary), dashboard_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:friends), partners_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:thank_you_notes), thank_you_notes_path, :class => "nav-link" %>
  </li>
  
  <li class="nav-item">
      <%= link_to t(:contact), contact_path, :class => "nav-link active" %>
  </li>

  <li class="nav-item">
     <%= link_to t(:projects_and_groups), projects_and_groups_path, :class => "nav-link" %>
  </li>
</ul>

<div class="thank_you_notes">
  <h1><%= t(:contact) %></h1>

  <div class="text-box" style="line-height: 30px;">
    <strong>Mastodon <span style="font-size:12px;">(<a href="https://blog.mozilla.org/en/internet-culture/how-to-get-started-on-mastodon/">How to use</a>)</span></strong><br><b style="color: #0078a8 !important">@AgroecologyMap@social.agroecologymap.org</b>
    <br><br><strong>Matrix <span style="font-size:12px;">(<a href="https://matrix.org/try-matrix/">How to use</a>)</span></strong><br> <b style="color: #0078a8 !important"> @agroecologymap.org:matrix.org</b>
    <br><br>
    <strong>Bug Report</strong><br> <b><a href="https://codeberg.org/marcelo-soares-souza/Agroecology-Map/issues" target="_blank">https://codeberg.org/marcelo-soares-souza/Agroecology-Map/issues</a></b>
  </div>
