<% title t(:how_to_register) %>
<style>
video {
  width: 80%;
  height: auto;
}
</style>

<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
      <%= link_to t(:how_to_register), how_to_register_path, :class => "nav-link active" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:who_we_are), who_we_are_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:data_summary), dashboard_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:friends), partners_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:thank_you_notes), thank_you_notes_path, :class => "nav-link" %>
  </li>
  
  <li class="nav-item">
      <%= link_to t(:contact), contact_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
     <%= link_to t(:projects_and_groups), projects_and_groups_path, :class => "nav-link" %>
  </li>
</ul>

<div class="manual">
  <br>
  <h1> <%= t(:how_to_register) %> </h1>
  <video controls>
    <source src="/tutorial.webm" type="video/webm; codecs=vp9,vorbis">
    <source src="/tutorial.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>


