<% title t(:projects_and_groups) %>
<style>
    .thank_you_notes {
        margin-left: auto;
        margin-right: auto;
        max-width: 1500px;
        margin-top: 16px;
    }

    .logo {
        width: 220px;
        margin: auto;
        background-color: transparent;
    }

    .thank_you_notes .card {
        border: 0;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>

<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
      <%= link_to t(:how_to_register), how_to_register_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:who_we_are), who_we_are_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:data_summary), dashboard_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:friends), partners_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:thank_you_notes), thank_you_notes_path, :class => "nav-link" %>
  </li>
  
  <li class="nav-item">
      <%= link_to t(:contact), contact_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
     <%= link_to t(:projects_and_groups), projects_and_groups_path, :class => "nav-link active" %>
  </li>
</ul>

<div class="thank_you_notes">
  <h1><%= t(:projects_and_groups) %></h1>
  <div class="row">
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Muda Floresta" %>
          <%= link_to image_tag("groups/MUDA.png",
                                 width: "270px",
                                 alt: title,
                                 title: title),
                                 "https://mudafloresta.com/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Teia dos Povos" %>
          <%= link_to image_tag("groups/teia.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://teiadospovos.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>        
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Indigenous Women and Girls Initiative (IWGI)" %>
          <%= link_to image_tag("groups/IWGI.png",
                                 width: "160px",
                                 alt: title,
                                 title: title),
                                 "https://iwgi.or.ke/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Alliance for Food Sovereignty in Africa (AFSA)" %>
          <%= link_to image_tag("groups/afsa.png",
                                 width: "200px",
                                 alt: title,
                                 title: title),
                                 "https://afsafrica.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Collectif d'Acteurs pour la Plantation et la Transition Environnementale" %>
          <%= link_to image_tag("groups/Capte.png",
                                 width: "160px",
                                 alt: title,
                                 title: title),
                                 "https://capte.tn/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agroecology TPP" %>
          <%= link_to image_tag("groups/TPP.jpg",
                                 width: "110px",
                                 alt: title,
                                 title: title),
                                 "https://glfx.globallandscapesforum.org/topics/21467/page/TPP-home", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
    <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Observatório da Agricultura Familiar" %>
          <%= link_to image_tag("groups/observa.webp",
                                 width: "240px",
                                 alt: title,
                                 title: title),
                                 "https://www.observaagriculturafamiliar.com/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
    <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agroecology Coalition" %>
          <%= link_to image_tag("groups/AC-logo.png",
                                 width: "200px",
                                 alt: title,
                                 title: title),
                                 "https://agroecology-coalition.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
    <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Ministério do Desenvolvimento Agrário e Agricultura Familiar" %>
          <%= link_to image_tag("groups/MDA.png",
                                 width: "270px",
                                 alt: title,
                                 title: title),
                                 "https://www.gov.br/mda/pt-br", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    

    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Knowledge Centre for Organic Agriculture and Agroecology in Africa (KCOA) " %>
          <%= link_to image_tag("groups/KCOA.jpg",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://kcoa-africa.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
    <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Dimarjan" %>
          <%= link_to image_tag("groups/dimarjan.jpg",
                                 width: "190px",
                                 alt: title,
                                 title: title),
                                 "https://www.dimarjan.com/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
    <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "IFOAM" %>
          <%= link_to image_tag("groups/IFOAM.png",
                                 width: "190px",
                                 alt: title,
                                 title: title),
                                 "https://www.ifoam.bio/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
    <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agroecology Fund" %>
          <%= link_to image_tag("groups/AEF.png",
                                 width: "250px",
                                 alt: title,
                                 title: title),
                                 "https://agroecologyfund.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Biovision Foundation" %>
          <%= link_to image_tag("groups/Biovision.png",
                                 width: "110px",
                                 alt: title,
                                 title: title),
                                 "https://www.biovision.ch/en/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Landless Workers' Movement" %>
          <%= link_to image_tag("groups/MST.png",
                                 width: "120px",
                                 alt: title,
                                 title: title),
                                 "https://mst.org.br/english/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agricology" %>
          <%= link_to image_tag("groups/Agricology.png",
                                 width: "230px",
                                 alt: title,
                                 title: title),
                                 "https://agricology.co.uk/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Slow Food Kenya" %>
          <%= link_to image_tag("groups/slowfoodkenya.png",
                                 width: "200px",
                                 alt: title,
                                 title: title),
                                 "https://slowfoodkenya.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>       
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Seed Savers Kenya" %>
          <%= link_to image_tag("groups/seedsaverskenya.png",
                                 width: "130px",
                                 alt: title,
                                 title: title),
                                 "https://seedsaverskenya.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Centro de Desenvolvimento Agroecológico Sabiá" %>
          <%= link_to image_tag("groups/SABIA.png",
                                 width: "160px",
                                 alt: title,
                                 title: title),
                                 "https://centrosabia.org.br/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "La Via Campesina" %>
          <%= link_to image_tag("groups/LaViaCampesina.png",
                                 width: "120px",
                                 alt: title,
                                 title: title),
                                 "https://viacampesina.org/en/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "FAO Agroecology" %>
          <%= link_to image_tag("groups/FAO.png",
                                 width: "120px",
                                 alt: title,
                                 title: title),
                                 "https://www.fao.org/agroecology/overview/en/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Terres Vivantes" %>
          <%= link_to image_tag("groups/TerresVivantes.png",
                                 width: "130px",
                                 alt: title,
                                 title: title),
                                 "https://www.terres-vivantes.net/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "SOCLA" %>
          <%= link_to image_tag("groups/SOCLA.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://soclaglobal.com/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Center for Studies and Promotion of Group Agriculture " %>
          <%= link_to image_tag("groups/CEPAGRO.png",
                                 width: "200px",
                                 alt: title,
                                 title: title),
                                 "https://cepagro.org.br/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>         
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Asian Farmers’ Association for Sustainable Rural Development (AFA)" %>
          <%= link_to image_tag("groups/AFA.jpg",
                                 width: "120px",
                                 alt: title,
                                 title: title),
                                 "https://asianfarmers.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Groundswell International" %>
          <%= link_to image_tag("groups/groundswellinternational.png",
                                 width: "250px",
                                 alt: title,
                                 title: title),
                                 "https://www.groundswellinternational.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Associação Brasileira de Agroecologia" %>
          <%= link_to image_tag("groups/ABA.png",
                                 width: "250px",
                                 alt: title,
                                 title: title),
                                 "https://aba-agroecologia.org.br/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Articulação Nacional de Agroecologia" %>
          <%= link_to image_tag("groups/ANA.png",
                                 width: "220px",
                                 alt: title,
                                 title: title),
                                 "https://agroecologia.org.br/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "CIRAWA" %>
          <%= link_to image_tag("groups/CIRAWA.png",
                                 width: "190px",
                                 alt: title,
                                 title: title),
                                 "https://cirawa.eu/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agroecology Works!" %>
          <%= link_to image_tag("partners/agroecologyworks.png",
                                 width: "200px",
                                 alt: title,
                                 title: title),
                                 "https://www.agroecologyworks.ch", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "AGROECOLOGY EUROPE​" %>
          <%= link_to image_tag("groups/AEEU.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://www.agroecology-europe.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agroecology Partnership" %>
          <%= link_to image_tag("groups/AgroecologyPartnership.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://www.agroecologypartnership.eu/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "CANALLS" %>
          <%= link_to image_tag("groups/CANALS.jpg",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://www.canalls-project.eu/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "NATAE Foster agroecological transition in North Africa" %>
          <%= link_to image_tag("groups/NATAE.png",
                                 width: "150px",
                                 alt: title,
                                 title: title),
                                 "https://www.natae-agroecology.eu/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "LiteFarm" %>
          <%= link_to image_tag("groups/LiteFarm.png",
                                 width: "140px",
                                 alt: title,
                                 title: title),
                                 "https://www.litefarm.org/post/how-can-litefarm-support-agroecological-farmers", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agroecology GOOD" %>
          <%= link_to image_tag("groups/GOOD.png",
                                 width: "160px",
                                 alt: title,
                                 title: title),
                                 "https://www.goodhorizon.eu/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>

    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agroecology-TRANSECT" %>
          <%= link_to image_tag("groups/TRANSECT.png",
                                 width: "170px",
                                 alt: title,
                                 title: title),
                                 "https://www.agroecology-transect.net/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>

    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "The House of Agroecology" %>
          <%= link_to image_tag("groups/TheHouseofAgroecology.png",
                                 width: "160px",
                                 alt: title,
                                 title: title),
                                 "https://houseofagroecology.org/fr/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "PATH2DEA" %>
          <%= link_to image_tag("groups/path2dea.png",
                                 width: "120px",
                                 alt: title,
                                 title: title),
                                 "https://www.path2dea.eu/index.html", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "GOA" %>
          <%= link_to image_tag("groups/goa.jpg",
                                 width: "120px",
                                 alt: title,
                                 title: title, style: "border-radius: 50%;"),
                                 "https://linktr.ee/goagroecology", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
     <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "RAWA" %>
          <%= link_to image_tag("groups/rawa.jpg",
                                 width: "120px",
                                 alt: title,
                                 title: title, style: "border-radius: 50%;"),
                                 "https://www.linkedin.com/showcase/rawa-agroecology", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Access Agriculture" %>
          <%= link_to image_tag("groups/AA.png",
                                 width: "250px",
                                 alt: title,
                                 title: title),
                                 "https://www.accessagriculture.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "CENTRO LATINOAMERICANO DE INVESTIGACIONES AGROECOLOGICAS (CELIA)" %>
          <%= link_to image_tag("groups/CELIA.png",
                                 width: "150px",
                                 alt: title,
                                 title: title),
                                 "https://celia.agroeco.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Réseau Tunisien de la transition agroécologique RTTA" %>
          <%= link_to image_tag("groups/RTTA.png",
                                 width: "130px",
                                 alt: title,
                                 title: title),
                                 "https://sites.google.com/agroecologie-tunisie.network/new/accueil?authuser=0", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Participatory Ecological Land Use Management (PELUM)" %>
          <%= link_to image_tag("groups/PELUM.png",
                                 width: "120px",
                                 alt: title,
                                 title: title),
                                 "https://pelumassociationrs.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "MOUNTAINHER - Empowering women associations as drivers for agro-ecological transformation to generate income for Mountain farming communities." %>
          <%= link_to image_tag("groups/MountainHER.jpg",
                                 width: "120px",
                                 alt: title,
                                 title: title),
                                 "https://mel.cgiar.org/projects/mountainher", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "La Sociedad Española de Agricultura Ecológica/Agroecología" %>
          <%= link_to image_tag("groups/SEAE.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://agroecologia.net/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
     <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "La Red de Municipios por la Agroecología" %>
          <%= link_to image_tag("groups/RMAe.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://www.municipiosagroeco.red/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>         
     <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "D4AgEcol" %>
          <%= link_to image_tag("groups/D4AgEcol.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://d4agecol.eu/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
     <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Pour une Agriculture du Vivant" %>
          <%= link_to image_tag("groups/agricultureduvivant.png",
                                 width: "150px",
                                 alt: title,
                                 title: title),
                                 "https://agricultureduvivant.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
     <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Agroecology and safe food system transitions" %>
          <%= link_to image_tag("groups/ASSET.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://www.asset-project.org/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
     <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Serviço de Tecnologia Alternativa" %>
          <%= link_to image_tag("groups/SERTA.png",
                                 width: "150px",
                                 alt: title,
                                 title: title, style: "border-radius: 20%;"),
                                 "https://serta.org.br/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
     <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Krishi-Updates" %>
          <%= link_to image_tag("groups/krishi.png",
                                 width: "100px",
                                 alt: title,
                                 title: title, style: "border-radius: 15%;"),
                                 "https://www.ecoagtube.org/channel/krishi-updates", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
     <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Permaculture Farms-Net Switzerland" %>
          <%= link_to image_tag("groups/PeLa.png",
                                 width: "110px",
                                 alt: title,
                                 title: title),
                                 "https://permakultur-landwirtschaft.org/hoefe/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Neycha" %>
          <%= link_to image_tag("groups/Neycha.png",
                                 width: "200px",
                                 alt: title,
                                 title: title),
                                 "https://neychaaccelerator.co/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Terra Sintropica" %>
          <%= link_to image_tag("groups/terrasintropica.png",
                                 width: "200px",
                                 alt: title,
                                 title: title),
                                 "https://terrasintropica.com/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Intersectoral Forum on Agrobiodiversity and Agroecology (ISFAA)" %>
          <%= link_to image_tag("groups/isfaa.png",
                                 width: "120px",
                                 alt: title,
                                 title: title),
                                 "https://isfaa.ke/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "GIO" %>
          <%= link_to image_tag("groups/GIO.png",
                                 width: "110px",
                                 alt: title,
                                 title: title),
                                 "https://vimeo.com/833107003", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "TreeScape" %>
          <%= link_to image_tag("groups/treescape.png",
                                 width: "110px",
                                 alt: title,
                                 title: title),
                                 "https://github.com/treescape-io", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "PrAEctiCe" %>
          <%= link_to image_tag("groups/Practice.png",
                                 width: "150px",
                                 alt: title,
                                 title: title),
                                 "https://praectice.eu/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Deafal" %>
          <%= link_to image_tag("groups/deafal.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://www.agricolturaorganica.org/aor-e-un-progetto-di-deafal-ong/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Jengalab" %>
          <%= link_to image_tag("groups/jengalab.png",
                                 width: "170px",
                                 alt: title,
                                 title: title),
                                 "https://www.jengalab.org/en/home/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "AGROSUS" %>
          <%= link_to image_tag("groups/AGROSUS.png",
                                 width: "200px",
                                 alt: title,
                                 title: title),
                                 "http://agrosus.eu/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Emergent Generation" %>
          <%= link_to image_tag("groups/emergentgeneration.png",
                                 width: "100px",
                                 alt: title,
                                 title: title),
                                 "https://www.emergentgeneration.co.uk/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>    
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "UPYA" %>
          <%= link_to image_tag("groups/upya.png",
                                 width: "180px",
                                 alt: title,
                                 title: title),
                                 "https://www.upyaconnect.org/en", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
    <!-- **************** -->
     <div class="col-sm-2">
      <div class="card">
        <div class="logo">
          <% title = "Valdibella" %>
          <%= link_to image_tag("groups/Valdibella.png",
                                 width: "190px",
                                 alt: title,
                                 title: title),
                                 "https://valdibella.com/en/", :target => "_blank",
                                 :alt => title,
                                 :title => title %>
        </div>
      </div>
    </div>
  <!--- --->
  </div>
</div>
