<% title t(:thank_you_notes) %>
<style>
    .thank_you_notes {
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        margin-top: 25px;
    }

    .logo {
        width: 220px;
        margin: auto;
        background-color: transparent;
    }

    .thank_you_notes .card {
        border: 0;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        margin-bottom: 32px;

    }
</style>

<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
      <%= link_to t(:how_to_register), how_to_register_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:who_we_are), who_we_are_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:data_summary), dashboard_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:friends), partners_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:thank_you_notes), thank_you_notes_path, :class => "nav-link active" %>
  </li>
  
  <li class="nav-item">
      <%= link_to t(:contact), contact_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
     <%= link_to t(:projects_and_groups), projects_and_groups_path, :class => "nav-link" %>
  </li>
</ul>

<div class="thank_you_notes">
  <h1><%= t(:thank_you_notes) %></h1>

  <div class="text-box" style="line-height: 30px;">
    <%= t(:thank_you_note_text) %>
  </div>

  <br><br>

  <strong><%= t(:technologies_and_arts_used_from) %></strong>
  <div class="row">
    <div class="col-sm-4" >
      <div class="card" style="min-height: 200px">
        <div class="logo"><%= link_to image_tag("rails.png", width: "180px", alt: "Ruby on Rails", title: "Ruby on Rails"), "https://rubyonrails.org/", :target => "_blank", :alt => "Ruby on Rails", :title => "Ruby on Rails" %></div>
      </div>
    </div>

    <div class="col-sm-4" >
      <div class="card" style="min-height: 200px">
        <div class="logo"><%= link_to image_tag("openstreetmap.png", width: "140px", alt: "Open Street Map", title: "Open Street Map"), "https://www.openstreetmap.org/", :target => "_blank", :alt => "Open Street Map", :title => "Open Street Map" %></div>
      </div>
    </div>

    <div class="col-sm-4" >
      <div class="card" style="min-height: 200px">
        <div class="logo"><%= link_to image_tag("leaflet.png", width: "180px", alt: "Leaflet", title: "Leaflet"), "https://leafletjs.com/", :target => "_blank", :alt => "Leaflet", :title => "Leaflet" %></div>
      </div>
    </div>

    <div class="col-sm-4" >
      <div class="card" style="min-height: 200px">
        <div class="logo"><%= link_to image_tag("codeberg.png", width: "140px", alt: "CodeBerg", title: "CodeBerg"), "https://codeberg.org/marcelo-soares-souza/Agroecology-Map", :target => "_blank", :alt => "CodeBerg", :title => "CodeBerg" %></div>
      </div>
    </div>
    <div class="col-sm-4" >
      <div class="card" style="min-height: 200px">
        <div class="logo"><%= link_to image_tag("postgres.png", width: "180px", alt: "PostgreSQL", title: "PostgreSQL"), "https://www.postgresql.org/", :target => "_blank", :alt => "PostgreSQL", :title => "PostgreSQL" %></div>
      </div>
    </div>
    <div class="col-sm-4" >
      <div class="card" style="min-height: 200px">
        <div class="logo"><%= link_to image_tag("fsf.svg", width: "180px", alt: "Free Software Foundation", title: "Free Software Foundation"), "https://www.fsf.org/about/", :target => "_blank", :alt => "Free Software Foundation", :title => "Free Software Foundation" %></div>
      </div>
    </div>

  </div>
</div>