<% title t(:who_we_are) %>

<div class="link-action"></div>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
      <%= link_to t(:how_to_register), how_to_register_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:who_we_are), who_we_are_path, :class => "nav-link active" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:data_summary), dashboard_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:friends), partners_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
      <%= link_to t(:thank_you_notes), thank_you_notes_path, :class => "nav-link" %>
  </li>
  
  <li class="nav-item">
      <%= link_to t(:contact), contact_path, :class => "nav-link" %>
  </li>

  <li class="nav-item">
     <%= link_to t(:projects_and_groups), projects_and_groups_path, :class => "nav-link" %>
  </li>
</ul>

<div class="about">
  <%= image_tag ("logo.png"), width: 250, class: "error" %>
  <h1><%= t(:who_we_are) %></h1>
  <div style="max-width: 900px; margin-left: auto; margin-right: auto; text-align: justify;">
    <div class="text-box">
    Agroecology Map is a digital platform for citizen science and open data that enables people to map and share agroecological experiences and practices. Our aim is to connect individuals and strengthen collaboration networks that facilitate the exchange of knowledge in agroecology. By bringing together farmers, researchers, and practitioners, we create a vibrant community dedicated to sustainable agricultural practices.
    <br><br>
    As free software, Agroecology Map's source code and data are openly available for anyone to use and share. This commitment to open-source principles ensures that knowledge remains accessible to all, fostering innovation and collaborative development. We believe that by sharing resources and experiences freely, we can accelerate the adoption of agroecological practices worldwide. Through this approach, we're building a democratic and transparent platform that serves the global agroecology movement.
    <br><br>
    The platform is maintained by volunteers who are passionate about agroecology and social technologies. Our community includes farmers, developers, researchers, and activists working together to improve and expand the platform's capabilities. We believe agroecology is the path forward, and through collaboration, we can achieve more together. By documenting and sharing successful practices, we're creating a valuable resource for anyone interested in sustainable agriculture and food sovereignty.
    <br><br>
    Join our growing network of agroecology practitioners and enthusiasts:    
    </div>
  </div>
  <h2><strong>Volunteer Team</strong></h2>
  <a href="https://agroecologymap.org/contributors/marcelo-soares-souza" target="_blank">Marcelo Soares Souza</a><br>
  <a href="https://agroecologymap.org/accounts/eduardo-fernandes-formighieri" target="_blank">Eduardo Fernandes Formighieri, Ph.D.</a><br>
  <a href="https://agroecologymap.org/accounts/mariana-crepaldi-de-paula" target="_blank">Mariana Crepaldi de Paula, Ph.D.</a><br>
  <a href="https://agroecologymap.org/accounts/murilo-gelain" target="_blank">Murilo Gelain Gonçalves, M.Sc.</a><br>
  <a href="https://agroecologymap.org/accounts/r-b-westphalen" target="_blank">Rodrigo Westphalen</a><br>
  <a href="https://agroecologymap.org/accounts/juan-m-sevilla" target="_blank">Juan M Sevilla</a><br>
  <a href="https://agroecologymap.org/accounts/vitoria-pimentel" target="_blank">Vitória Pimentel</a><br>
  <br>
</div>
