<p><%= t(:hi) %> <%= @resource.email %>!</p>

<p><%= t(:someone_requested_a_link_to_change_your_password_you_can_do_this_using_the_link_) %>.</p>

<p><%= link_to t(:change_my_password), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(:if_you_did_not_request_this_please_ignore_this_email) %>.</p>

<p><%= t(:your_password_will_not_be_changed_until_you_access_the_link) %></p>
