<%= "<h4>Sensors</h4><div class='text-box'>Temperature: #{@location.sensors.last.temperature.to_s} 🌞<br>Humidity: #{@location.sensors.last.humidity.to_s} 💦<br>Soil Moisture: #{@location.sensors.last.moisture.to_s} 🚰</div><br>".html_safe %>

<a class="btn btn-info" data-toggle="collapse" href="#showCharts" role="button" aria-expanded="false" aria-controls="showCharts">Show sensors charts</a>
<br><br>

<div class="collapse" id="showCharts">
    <br>
    <div class="chart-container" style="position: relative;">
      <canvas id='sensors'></canvas>
    </div>
    <br>
</div>

<script>
  const ctx = document.getElementById('sensors');

  const labels = []
  const values_temperature = []
  const values_humidity = []
  const values_moisture = []

  <% @location.sensors.last(24).each do |location| %>
        labels.push('<%= location.created_at.strftime('%H:%M') %>');
        values_temperature.push(<%= location.temperature %>)
        values_humidity.push(<%= location.humidity %>)
        values_moisture.push(<%= location.moisture %>)
  <% end %>

  const dataset_temperature = { label: 'Temperature (C)', data: values_temperature, borderColor: '#B71C1C', backgroundColor: '#B71C1C', yAxisID: 'y' }
  const dataset_humidity = { label: 'Humidity (%)', data: values_humidity, borderColor: '#2596be', backgroundColor: '#2596be', yAxisID: 'y', }
  const dataset_moisture = { label: 'Soil Moisture (%)', data: values_moisture, borderColor: '#eca861', backgroundColor: '#eca861', yAxisID: 'y' }

  const options = {
    responsive: true,
    maintainAspectRatio: true,
    scales: { y: { beginAtZero: true, max: 120} },
    plugins: {
      legend: {
        display: true
      }
    }
  }

  var chart = new Chart(ctx, { type: 'line', data: { labels: labels, datasets: [dataset_temperature, dataset_humidity, dataset_moisture] }, options: options });
</script>