  <script>
    $(document).ready(function() {
      $("#locale").val("<%= locale %>");
    });
  </script>

  <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to(image_tag("agroecologia-small.png", :width => "96"), root_path, :class => "nav-link", :id => "logo") %>
          </li>

<!--
          <li class="nav-item">
            <%= link_to(t(:news), novidades_path, :class => "nav-link") %>
          </li>
-->
          <li class="nav-item">
            <%= link_to(t(:locations), locais_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to(t(:experiences_in_agroecology), experiencia_agroecologicas_path, :class => "nav-link") %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= t(:agroforestry_systems) %></a>
            <div class="dropdown-menu">
              <%= link_to(t(:systems), safs_path, :class => "nav-link") %>
              <%= link_to(t(:plants), plantas_path, :class => "nav-link") %>
              <%= link_to(t(:animals), animais_path, :class => "nav-link") %>
            </div>
          </li>
<!--
          <li class="nav-item">
            <%= link_to(t(:organizations), organizacoes_path, :class => "nav-link") %>
          </li>
-->
          <li class="nav-item">
            <%= link_to(t(:contributors), usuarios_path, :class => "nav-link") %>
          </li>

          <% if current_usuario %>
            <% if current_usuario.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Adminstrar</a>
              <div class="dropdown-menu">
                <%= link_to("Tipo de Organizações", tipo_organizacoes_path, :class => "nav-link") %>
                <%= link_to("Temas de Agroecologia", tema_experiencia_agroecologicas_path, :class => "nav-link") %>
              </div>
            </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_usuario %>
            <li class="nav-item">
              <%= link_to("#{t(:logout)}", destroy_usuario_session_path, :method => :delete, :class => "nav-link") %>
            </li>

            <li class="nav-item">
              <%= link_to "(#{current_usuario.email})", usuario_path(current_usuario), :class => "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <strong><%= link_to(t(:login), new_usuario_session_path, :class => "nav-link") %></strong>
            </li>
            <li>
              <strong><%= link_to t(:sign_up), new_usuario_registration_path, :class => "nav-link text-danger" %></strong>
            </li>
          <% end %>
            <li style="margin-right: 8px; margin-left: 8px;">
              <select id="locale" onchange="if (this.value) window.location.href='/?locale=' + this.value" class="form-control">
                <option value="pt-BR">Português</option>
                <option value="es">Español</option>
                <option value="en">English</option>
                <option value="fr">Français</option>
              </select>
            </li>
            <li class="nav-item">
              <a href="https://opencollective.com/agroecology-map/contribute" target="_blank">
                <img style="margin-right: 10px;" src="https://opencollective.com/webpack/donate/button@2x.png?color=blue" width="192" heigth="31"/>
              </a>
            </li>
          <ul class="nav navbar-nav navbar-right">
            <li style="margin-right: 8px;">
              <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
