<script>
  $(document).ready(function () { $("#locale").val("<%= locale %>"); });
</script>
<nav class="navbar navbar-expand-lg navbar-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= t(:about) %></a>
        <div class="dropdown-menu" style="text-align: left; padding-left: 6px">
          <%= link_to(t(:who_we_are), who_we_are_path, :class => "nav-link") %>
          <%= link_to(t(:data_summary), dashboard_path, :class => "nav-link") %>
          <%= link_to(t(:friends) + "/" + t(:partners), partners_path, :class => "nav-link") %>
          <%= link_to(t(:thank_you_notes), thank_you_notes_path, :class => "nav-link") %>
          <%= link_to(t(:contact), contact_path, :class => "nav-link") %>
          <%= link_to(t(:projects_and_groups), projects_and_groups_path, :class => "nav-link") %>
          <%= link_to('Privacy Policy', privacy_policy_path, :class => "nav-link") %>
          <%= link_to('Content License', license_path, :class => "nav-link") %>
          <%= link_to('Code License', source_code_license_path, :class => "nav-link") %>
          <%= link_to('Mobile App', 'https://play.google.com/store/apps/details?id=org.agroecologymap', :class => "nav-link") %>
          <%= link_to('Donate', 'https://ko-fi.com/agroecologymap', :class => "nav-link") %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to(t(:home), home_index_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to(t(:locations), locations_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to(t(:practices), practices_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to(t(:gallery), gallery_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to(t(:accounts), accounts_path, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to(t(:projects_and_groups), projects_and_groups_path, :class => "nav-link") %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if not current_account %>
        <% if not browser.bot? and not request.is_crawler? %>
          <li class="nav-item">
            <strong><%= link_to(t(:login), new_account_session_path, :class => "nav-link") %></strong>
          </li>
          <!-- >
          <li>
            <strong><%= link_to t(:sign_up), new_account_registration_path, :class => "nav-link" %></strong>
          </li>
          -->
        <% end %>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= photo_mini(current_account, current_account.name) %></a>
          <div class="dropdown-menu" style="text-align: left; padding-left: 6px">
            <%= link_to "Profile", account_path(current_account), :class => "nav-link" %>
            <%= link_to t(:locations) + " (#{current_account.locations.size})", account_locations_path(current_account), :class => "nav-link" %>
            <%= link_to t(:practices) + " (#{current_account.practices.size})", account_practices_path(current_account), :class => "nav-link" %>
            <%= link_to t(:gallery) + " (#{current_account.medias.size})", account_gallery_path(current_account), :class => "nav-link" %>
            <%= link_to "#{t(:logout)}", destroy_account_session_path, :method => :delete, :class => "nav-link" %>
          </div>          
        </li>
      <% end %>
      <li>
        <select id="locale" onchange="if (this.value) window.location.href='/' + this.value" class="form-control">
          <option value="en">English</option>
          <option value="pt-BR">Português</option>
          <option value="es">Español</option>
          <option value="fr">Français</option>
        </select>
      </li>
    </ul>
  </div>
</nav>
