  <script>
    $(document).ready(function() {
      $("#locale").val("<%= locale %>");
    });
  </script>

  <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to(image_tag("agroecologia-small.png", :width => "96"), root_path, :class => "nav-link", :id => "logo") %>
          </li>

          <li class="nav-item">
            <%= link_to(I18n.t(:news), novidades_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to(I18n.t(:locations), locais_path, :class => "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link_to(I18n.t(:experiences_in_agroecology), experiencia_agroecologicas_path, :class => "nav-link") %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t(:agroforestry_systems) %></a>
            <div class="dropdown-menu">
              <%= link_to("Sistemas", safs_path, :class => "nav-link") %>
              <%= link_to("Plantas", plantas_path, :class => "nav-link") %>
              <%= link_to("Animais", animais_path, :class => "nav-link") %>
            </div>
          </li>
<!--
          <li class="nav-item">
            <%= link_to(I18n.t(:organizations), organizacoes_path, :class => "nav-link") %>
          </li>
-->

          <li class="nav-item">
            <%= link_to(I18n.t(:contributors), usuarios_path, :class => "nav-link") %>
          </li>

          <% if current_usuario %>
            <% if current_usuario.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Adminstrar</a>
              <div class="dropdown-menu">
                <%= link_to("Tipo de Organizações", tipo_organizacoes_path, :class => "nav-link") %>
                <%= link_to("Temas de Agroecologia", tema_experiencia_agroecologicas_path, :class => "nav-link") %>
              </div>
            </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_usuario %>
            <li class="nav-item">
              <%= link_to("#{I18n.t(:logout)}", destroy_usuario_session_path, :method => :delete, :class => "nav-link") %>
            </li>

            <li class="nav-item">
              <%= link_to "(#{current_usuario.email})", usuario_path(current_usuario), :class => "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <strong><%= link_to(I18n.t(:login), new_usuario_session_path, :class => "nav-link") %></strong>
            </li>
            <li>
              <strong><%= link_to I18n.t(:register), new_usuario_registration_path, :class => "nav-link text-danger" %></strong>
            </li>
          <% end %>
            <li class="nav-item">
<!--
              <a href="https://www.catarse.me/mapa_da_agroecologia_saberes_e_praticas" target="_blank" class="nav-link" style="color: #FFA500; font-weight: bold;">Apoie-nos</a>
-->
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="SQPPBZNLB5NJ6">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!" style="margin-top: 6px; margin-right: 6px;">
              </form>
            </li>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <select id="locale" onchange="if (this.value) window.location.href='/?locale=' + this.value" class="form-control">
                <option value="pt-BR">Português</option>
                <option value="es">Español</option>
                <option value="en">English</option>
              </select>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
