<!DOCTYPE html>
<html lang="<%= CONFIG['lang'] %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= t(:description) %>">
  <meta name="author" content="Marcelo Soares Souza <marcelo@agroecologymap.org>">
  <meta property="og:url" content="https://agroecologymap.org" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Agroecology Map" />
  <meta property="og:description" content="Agroecology Map Knowledge and Practices is a Free (Open) Platform for Mapping Initiatives in Agroecology, Permaculture and Agroforestry Systems." />
  <meta property="og:image" content="https://agroecologymap.org/logo.jpg" />
  <link rel="canonical" href="https://agroecologymap.org/" />
  <link rel="icon" href="<%= image_url "favicon.ico" %>">
  <title><%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>

<%= render 'layouts/menu' %>
<%= render 'layouts/main' %>

</body>
</html>
