<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= t(:site_description) %>">
  <meta name="author" content="Marcelo Soares Souza <marcelo@agroecologymap.org>">
  <meta property="og:url" content="https://agroecologymap.org/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= t(:site_name) %>">
  <meta property="og:description" content="<%= t(:site_description) %>">
  <meta property="og:image" content="https://agroecologymap.org/logo.png">
  <link rel="canonical" href="<%= url_for(:only_path => false, :protocol => 'https') %>" />
  <link rel="icon" href="<%= image_url "favicon.ico" %>">
  <title><%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= @schema_org %>
</head>

<body translate="no" class="notranslate">
  <a rel="me" href="https://social.agroecologymap.org/@AgroecologyMap"></a>
  <%= render 'layouts/menu' unless request.path == '/map'%>
  <%= render 'layouts/main' %>
  <%= render 'about/cookie_notice' unless request.path == '/map'%>
</body>
</html>
